            <!-- 为ECharts准备一个具备大小（宽高）的DOM -->
    <div id="main" style="width: 740px; height: 500px; float:left; margin-left: 20px;"></div>
    <script type="text/javascript">

        /*基于准备好的dom，初始化echarts实例*/
        var myChart = echarts.init(document.getElementById('main'));

        // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
		//从json中获取数据
        var rData = []
		$.ajaxSetup({async:false});
		$.getJSON("/k_data_json/{{r_code}}/", function(data){
			rData = data;
		})
		
		detailData = [
        //日期上的双引号 不能删，不然会变成年丰
            {% for i in ori_data %}
            ['{{i.date|date:'Y-m-d'}}','{{i.operation}}',{{i.amount}},{{i.price}},{{i.sum}},{{i.getamount}},{{i.getsum|default_if_none:"'-'" }}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]

        //切割数组，把数组中的日期和数据分离，返回数组中的日期和数据
        function splitData(rawData) {
            var categoryData = [];
            var values = [];
            var volumns = [];
            for (var i = 0; i < rawData.length; i++) {
                categoryData.push(rawData[i].splice(0, 1)[0]);
                values.push(rawData[i]);
                volumns.push(rawData[i][4]);
            }
            return {
                categoryData: categoryData,
                values: values,
                volumns: volumns
            };
        }
		
		var data0 = splitData(rData);
		
		//是否有日期参数，没有则显示全部范围
		var url = self.location.href;
		var url_param;
		var url_params = [data0.categoryData[0],data0.categoryData[data0.categoryData.length - 1]];
		if (url.indexOf("?") != -1){
			url_param = url.split('?')[1];
			if(url_param.indexOf("&") != -1){
				url_params = url_param.split('&');
			}
		}
		
        

		
		//计算MA平均线，N日移动平均线=N日收盘价之和/N  dayCount要计算的天数(5,10,20,30)
        function calculateMA(dayCount) {
            var result = [];
            for (var i = 0, len = data0.values.length; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    //alert(result);
                    continue;   //结束单次循环，即不输出本次结果
                }
                var sum = 0;
                for (var j = 0; j < dayCount; j++) {
                    //收盘价总和
                    sum += data0.values[i - j][1];
                    //alert(sum);
                }
                result.push(sum / dayCount);
               // alert(result);
            }
            return result;
        }
        //计算涨幅等百分比数据
        function calculatePct(type) {
            var pct = [];
            var tmp
			
            for (var i = 0, len = data0.values.length; i < len; i++) {
            
                if (i < 1) {
                    pct.push('-');
                    //alert(result);
                    continue;   //结束单次循环，即不输出本次结果
                }
				
				switch(type)
					{
						//涨幅
						case 1:
							tmp = ((data0.values[i][1] - data0.values[i-1][1]) / data0.values[i-1][1]*100).toFixed(2);
							break;
						//振幅
						case 2:
							tmp = ((data0.values[i][3] - data0.values[i][2]) / data0.values[i-1][1]*100).toFixed(2)  
							break;

						//最高点
						case 3:
							tmp = ((data0.values[i][3] - data0.values[i-1][1]) / data0.values[i-1][1]*100).toFixed(2);
							break;
						//最低点
						case 4:
							tmp = ((data0.values[i][2] - data0.values[i-1][1]) / data0.values[i-1][1]*100).toFixed(2);
							break;
						default:
							tmp = '-';
							break;
					}
				
                pct.push(tmp);
               // alert(result);
            }
            return pct;
        }

        //四种涨幅
        var pct_data1 = calculatePct(1);
		var pct_data2 = calculatePct(2);
		var pct_data3 = calculatePct(3);
		var pct_data4 = calculatePct(4);
        
		//计算手数，成本
		function calculateAmountCost(data) {
			var amount = [];
			var cost = [];
			var range = [0,data0.values.length-1];
			var t_amount;
			var t_cost;
			var len1 = this.data0.categoryData.length;
			var len2 = data.length
			for (var i = 0, k = 0; i < len1 ; i++) {
				//console.log(data0.categoryData[i] + "," + k + ","+ len2);
				if(url_params[0] == data0.categoryData[i]){
					range[0]=i;
				};
				if(url_params[1] == data0.categoryData[i]){
					range[1]=i;
				}
				
				if(k >= len2){
				//后续没有交易
					amount[i] = amount[i-1];
					cost[i] = cost[i-1];
					continue;
				}

				if (data0.categoryData[i] == data[k][0]) {
					//有可能一天进行多次交易当天进行交易
					if(i>0){
						amount[i] = amount[i-1];
						cost[i] = cost[i-1];
					}
					while(data0.categoryData[i] == data[k][0]){
						//有可能一天进行多次交易
						if(i == 0){
							amount[0] = data[k][2]
							cost[0] = -data[k][2]*data[k][3]
						}else{
							amount[i] += data[k][2];
							//成本买入为负，卖出为正
							cost[i] += -data[k][2]*data[k][3];
						}
						
						k++;
						if(k >= len2) break;
					}
				}else{
					//console.log(data0.categoryData[i-1]);
					if(i == 0){
						//console.log("i==0");
						amount.push(0);
						cost.push(0);
					}else{
						if(amount[i-1] == 0 ){
							//console.log("amount[amount.length-1] == 0 ");
							amount[i] = 0;
							cost[i] = 0;
						}
						else{
							//console.log("amount[amount.length-1] == 0 else");
							amount[i] = amount[i-1];
							cost[i] = cost[i-1];
						}
					}
				}
				//console.log(k + ':' + data0.categoryData[i] + ":" + data[k][0]);

			   // alert(result);
			}
			return {
				amount: amount,
				cost: cost,
				range: range
			};
		}

		data1 = calculateAmountCost(detailData);
		st_pos = parseFloat((data1.range[0]/rData.length*100).toFixed(0)) - 0.4;
		ed_pos = parseFloat(((data1.range[1]-1)/rData.length*100).toFixed(0)) + 0.6;
		
        option = {
            title: {    //标题
                text: '{{r_name}}',
                left: 0
            },
            tooltip: {  //提示框
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                backgroundColor: 'rgba(245, 245, 245, 0.8)',
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                formatter: function (params) {
                        param = params[0];
                        var tmp = '日期: ' + param.name + '<hr size=1 style="margin: 3px 0">'
                        
                        //引入成交量后，两个图显示不一致，所以使用全局变量
                        tmp += '开盘: ' + this.data0.values[param.dataIndex][0] + '<br/>'
                        tmp += '收盘: ' + this.data0.values[param.dataIndex][1] + '<br/>'

                        //这个函数是在外部调用的所以要写option
                        if (this.pct_data1[param.dataIndex] > 0 ) {
                                tmp += '涨幅: <span style="color:red">' + this.pct_data1[param.dataIndex] + '&#37;</span><br/>'; 
                              } else {
                                tmp += '涨幅: <span style="color:green">' + this.pct_data1[param.dataIndex] + '&#37;</span><br/>';
                        };
						tmp +='<hr size=1 style="margin: 3px 0">'
                        tmp += '振幅: ' + this.pct_data2[param.dataIndex] + '&#37;<br/>';
						
						if (this.pct_data3[param.dataIndex] > 0 ) {
                                tmp += '最高: <span style="color:red">' + this.pct_data3[param.dataIndex] + '&#37;</span><br/>'; 
                              } else {
                                tmp += '最高: <span style="color:green">' + this.pct_data3[param.dataIndex] + '&#37;</span><br/>';
                        };
						
                        if (this.pct_data4[param.dataIndex] > 0 ) {
                                tmp += '最低: <span style="color:red">' + this.pct_data4[param.dataIndex] + '&#37;</span><br/>'; 
                              } else {
                                tmp += '最低: <span style="color:green">' + this.pct_data4[param.dataIndex] + '&#37;</span><br/>';
                        };
                        //个人持仓量
						var earning;
                        if(param.dataIndex!=0 && this.data1.amount[param.dataIndex] == 0 && this.data1.amount[param.dataIndex-1] != 0){
							tmp +='<hr size=1 style="margin: 3px 0">'
							tmp += '持仓手数: ' + this.data1.amount[param.dataIndex] + '<br/>';
							tmp += '持仓金额: ' + (this.data1.amount[param.dataIndex]*this.data0.values[param.dataIndex][1]).toFixed(0)  + '<br/>';
							earning = this.data1.amount[param.dataIndex]*this.data0.values[param.dataIndex][1] + this.data1.cost[param.dataIndex];
							if(earning > 0 ){
								tmp += '盈亏金额: <span style="color:red">' + earning.toFixed(0) + '</span><br/>';
								tmp += '盈亏比例: <span style="color:red">' + parseInt(earning/(this.data1.amount[param.dataIndex-1]*this.data0.values[param.dataIndex][1])*10000)/100 + '&#37;</span><br/>';
							}else{
								tmp += '盈亏金额: <span style="color:green">' + earning.toFixed(0) + '</span><br/>';
								tmp += '盈亏比例: <span style="color:green">' + parseInt(earning/(this.data1.amount[param.dataIndex-1]*this.data0.values[param.dataIndex][1])*10000)/100 + '&#37;</span><br/>';
							}
						}
						else if(this.data1.amount[param.dataIndex] != 0){
						    tmp +='<hr size=1 style="margin: 3px 0">'
							tmp += '持仓手数: ' + this.data1.amount[param.dataIndex] + '<br/>';
							tmp += '持仓金额: ' + (this.data1.amount[param.dataIndex]*this.data0.values[param.dataIndex][1]).toFixed(0)  + '<br/>';
							earning = this.data1.amount[param.dataIndex]*this.data0.values[param.dataIndex][1] + this.data1.cost[param.dataIndex];
							if(earning > 0 ){
								tmp += '盈亏金额: <span style="color:red">' + earning.toFixed(0) + '</span><br/>';
								tmp += '盈亏比例: <span style="color:red">' + parseInt(earning/(this.data1.amount[param.dataIndex]*this.data0.values[param.dataIndex][1])*10000)/100 + '&#37;</span><br/>';
							}else{
								tmp += '盈亏金额: <span style="color:green">' + earning.toFixed(0) + '</span><br/>';
								tmp += '盈亏比例: <span style="color:green">' + parseInt(earning/(this.data1.amount[param.dataIndex]*this.data0.values[param.dataIndex][1])*10000)/100 + '&#37;</span><br/>';
							}
						}
                        return tmp;
                    }
            },
            legend: {   //图例控件，点击图例控制哪些系列不现实
                data: ['日K', 'MA5', 'MA20', 'MA200']
            },
			grid: [
				{
					left: '4%',
					right: '0%',
					height: '60%'
				},
				{
					left: '4%',
					right: '0%',
					bottom: '15%',
					height: '8%'
				}
			],
			xAxis: [
				{
					type: 'category',
					data: data0.categoryData,
					scale: true,
				},
				{
					type: 'category',
					gridIndex: 1,
					data: data0.categoryData,
				}
			],
			yAxis: [
				{
					scale: true,
					splitArea: {
						show: true
					}
				},
				{
					scale: true,
					gridIndex: 1,
					splitNumber: 2,
				}
			],
			dataZoom: [
				{
					type: 'inside',
					//k线图 和成交量同时缩放
					xAxisIndex: [0, 1],
					//初始位置
					start: st_pos,
					end: ed_pos
				},
				{
					show: true,
					xAxisIndex: [0, 1],
					type: 'slider',
					top: '85%',
					start: st_pos,
					end: ed_pos
				}
			],
            series: [   //图表类型
                {
                    name: '日K',
                    type: 'candlestick',    //K线图
                    data: data0.values,     //y轴对应的数据
                    itemStyle: {
                        normal: {
                            color: 'red', // 阳线填充颜色
                            color0: 'lightgreen', // 阴线填充颜色
                            lineStyle: {
                                width: 2,
                                color: 'orange', // 阳线边框颜色
                                color0: 'lightgreen' // 阴线边框颜色
                            }
                        }
                    },
////////////////////////图标标注/////////////////////////////
					markPoint: {
						label: {
							normal: {
								formatter: function (param) {
									return param.value;
								}
							}
						},
						data: [
							{% for i in ori_data %}
							{
								name: '{{i.operation}} {{i.id}}',
								coord: ['{{i.date|date:'Y-m-d'}}',{{i.price}}],
								value: {{i.amount}},
								itemStyle: {
									{% if '买入' in i.operation%}
									normal: {color: 'rgb(128,0,0)'}
									{% else %}
									normal: {color: 'rgb(0,128,0)'}
									{% endif %}
								}
							}{% if not forloop.last %},{% endif %}
							{% endfor %}
						],
						
						tooltip: {
							show: true,
							formatter: function(e) {
								// return e.data.displayname;
								return 'hello';
							},
							// position: [500, 10],
							triggerOn: 'click'
						},
						symbol:"arrow",
						symbolSize:15,
						tooltip: {
						}
					}
                },

/////////////////////////////////图标标线///////////////////////////



                {   //MA5 5天内的收盘价之和/5
                    symbol: "none",
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    symbol: "none",
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(20),
                    smooth: true,
                    lineStyle: {    //标线的样式
                        normal: {opacity: 0.5}
                    }
                },
                {
                    symbol: "none",
                    name: 'MA200',
                    type: 'line',
                    data: calculateMA(250),
                    smooth: true,
                    lineStyle: {
                        type:'solid',
                        normal: {opacity: 0.5}
                        
                    }
                },
                
                //成交量
                {
                    name: 'Volumn',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: data0.volumns,
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                var colorList;
                                if (this.pct_data1[params.dataIndex] > 0 ) {
                                    colorList = '#ef232a';
                                } else {
                                    colorList = '#14b143';
                                }
                                return colorList;
                            },
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表
        myChart.setOption(option);
    </script>