<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>交易汇总</title>
<link href="/static/jquery.dataTables.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/jquery.dataTables.js" type="text/javascript"></script>
</head>
<body style="background: rgb(250, 250, 255)">

	<div style="width: 1000px">
		<h1>个人交易汇总</h1>
		<form action="/trade_report/" method="get"
			style="float: left; width: 760px;">
			开始时间<input type="date" id="st_date" name="st_date"
				value="{{st_date | default_if_none:"2017-01-01"}}"> <br>
			结束时间<input type="date" id="ed_date" name="ed_date"
				value="{{ed_date | default_if_none:""}}"> <input
				type="submit" value="提交">
		</form>
	</div>
	
	<div style="width: 1300px">
		<div style="width: 950px; float: left;">
		
			<script>
				function getDate(obj,st_data,ed_date)
				{
					var params = '?' + st_data + '&' + ed_date;
					obj.href += params;
				}
			</script>
			<table id="stat_table" border="1">

				<thead>
					<tr>
						<th>股票</th>
						<th>最初买入日期</th>
						<th>最终卖出日期</th>
						<th>总买入金额</th>
						<th>总持股时间</th>
						<th>盈亏金额</th>
						<th>盈亏百分比</th>
					</tr>
				</thead>

				<tbody id = "stat_bady">
				</tbody>
			</table>
			
			<script>
				$.ajaxSetup({async:false});
				//用于观察div 排版
				//$('div').css({"color":"red","border":"2px solid red"});
				data_set();
									//使用json初始化
				var json_url = "/trade_data_json/";
				json_url += "?ed_date=" + $("#ed_date").val() + "&st_date=" + $("#st_date").val();
		
				$(document).ready( function () {
					var stat_data;
					$.getJSON(json_url, function(data){
						stat_data = data;
					})
					stat_table = $('#stat_table').DataTable({
						//搜索后重新统计
						"fnFooterCallback": function(nFoot, aData, iStart, iEnd, aiDisplay) {
							statistic(aData,aiDisplay);
						},
						
						//盈利颜色设置
						"columnDefs": [
							{
								"targets": 0,
								"createdCell": function (td, cellData, rowData, row, col) {
									$(td).css('width', '70px');
									//console.log(typeof($(td).html()));
									if($(td).html().indexOf('?') == -1){
										$(td).html("<a href=\"/trade_detail/" + stat_data[row][0] + "\" onclick = getDate(this,\"" + String(stat_data[row][2]) + "\",\"" + String(stat_data[row][3]) + "\") target=\"_blank\">" + stat_data[row][1] + "</a>");
									}
								}
							},
							{
								"targets": 5,
								"createdCell": function (td, cellData, rowData, row, col) {
									if ( cellData > 0 ) {
										$(td).css('color', 'red')
									}else{
										$(td).css('color', 'green')
									}
								}
							},
							{
								"targets": 6,
								"createdCell": function (td, cellData, rowData, row, col) {
									if ( cellData > 0 ) {
										$(td).css('color', 'red')
									}else{
										$(td).css('color', 'green')
									}
								}
							}
						]
					});
					

					init_table(stat_table,stat_data);
					
				});
				
				function data_set(){
					var myDate = new Date();
					ed_date = $("#ed_date").val();
					if(ed_date == ""){
						ed_date = myDate.getFullYear() + '-' + (myDate.getMonth()+1);
						$("#ed_date").val(myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate());
					}
					st_date = $("#st_date").val();
					if(st_date == ""){
						st_date = myDate.getFullYear() + '-' + (myDate.getMonth()+1);
						$("#st_date").val((myDate.getFullYear()-1) + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate());
					}
				}
		
				function init_table(table,ini_data){
					for(var i = 0; i < ini_data.length;i++){
						if( i == ini_data.length - 1){
							table.row.add(ini_data[i].slice(1,8)).draw( true );
						}else{
							table.row.add(ini_data[i].slice(1,8));
						}
					}
					
				}
				
				function statistic(aData,aiDisplay){
					/** 
					 * 遍历表格内容进行统计
					 */
					var data = {t_win_earning:0, t_los_earning:0, t_win_num:0, t_los_num:0, t_win_10_num:0, t_los_5_num:0, t_win_10_earning:0, t_los_5_earning:0,t_time:0};
					var tmp = 0;
					var time = 0;
					
					if( aiDisplay.length > 0){
						for(var i = 0, rows = aiDisplay.length; i < rows; i++){
							time = parseFloat(aData[aiDisplay[i]][4]);
							tmp = parseFloat(aData[aiDisplay[i]][5]);
							pct = parseFloat(aData[aiDisplay[i]][6]);
							data.t_time += time;
							if(tmp > 0){
								data.t_win_earning += tmp;
								data.t_win_num += 1;
								if(pct > 10){
									data.t_win_10_earning += tmp;
									data.t_win_10_num += 1;
								}
							}
						
							else{
								data.t_los_earning += tmp;
								data.t_los_num += 1;
								if(pct < -5){
									data.t_los_5_earning += tmp;
									data.t_los_5_num += 1;
								}
							}
						}
					}
					
					t_rate = parseInt(data.t_win_num/(data.t_los_num + data.t_win_num)*1000)/10.0
					t_avg_time = parseInt(data.t_time/(data.t_los_num + data.t_win_num))
					
					var txt= "<h3>结果统计</h3>";
					txt += "<p>总收益：" + data.t_win_earning + "</p>";
					txt += "<p>总亏损：" + data.t_los_earning + "</p>";
					txt += "<p>合计：" +  (data.t_win_earning + data.t_los_earning) + "</p>";
					txt += "<p>成功次数：" + data.t_win_num + "</p>";
					txt += "<p>失败次数：" + data.t_los_num + "</p>";
					txt += "<p>成功率：" + t_rate + "&#37</p>";
					txt += "<p>平均持股时间：" + t_avg_time + "</p>";
					txt += "<p>盈利大于10%的次数：" + data.t_win_10_num + "</p>";
					txt += "<p>盈利大于10%的总收益：" + data.t_win_10_earning + "</p>";
					txt += "<p>亏损大于5%的次数：" + data.t_los_5_num + "</p>";
					txt += "<p>亏损大于5%的总收益：" + data.t_los_5_earning + "</p>";
					$("#stat_res").html(txt);
				}
				
			</script>

		</div>
		<div style="float: right; width: 300px; margin-left: 8px"
			id="stat_res">
			
		</div>
</body>

</html>
