<!DOCTYPE html>
<html>
<head>
<title>交易统计</title>
<script type="text/javascript" src="/static/echarts.min.js"></script>
<script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
</head>

<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	

	<div style="width: 750px;height:100px;">
			<form action="/trade_statistics/" method="get"
			style="float: left; width: 760px;">
			显示最近&nbsp <input type="text" style="width: 20px" id="n" name="n"
					value="{{n | default_if_none:"20"}}"> &nbsp次 &nbsp;&nbsp;&nbsp;
			统计开始时间<input type="date" id="st_date" name="st_date"
					value="{{st_date | default_if_none:"2017-01-01"}}"> &nbsp;&nbsp;&nbsp;
			统计结束时间<input type="date" id="ed_date" name="ed_date"
					value="{{ed_date | default_if_none:""}}">  &nbsp;&nbsp;&nbsp;<input
					type="submit" value="确定">
			</form>
	</div>
	
	<div id="main" style="width: 1200px;height:1000px;">
		<div id="main0" style="width: 900px;height:300px;"></div>
		<div id="main1" style="width: 900px;height:300px;"></div>
		<br>
		<div id="main2" style="width: 900px;height:300px;"></div>
		<div id="main3" style="width: 900px;height:300px;"></div>
		<br>
		<div id="main4" style="width: 900px;height:300px;"></div>
		<div id="main5" style="width: 900px;height:300px;"></div>
		<br>
		<div id="main6" style="width: 900px;height:300px;"></div>
		<div id="main7" style="width: 900px;height:300px;"></div>
	</div>
	<script type="text/javascript">
		
		$.ajaxSetup({async:false});
		var myChart0 = echarts.init(document.getElementById('main0'));
		var myChart1 = echarts.init(document.getElementById('main1'));
		var myChart2 = echarts.init(document.getElementById('main2'));
		var myChart3 = echarts.init(document.getElementById('main3'));
		var myChart4 = echarts.init(document.getElementById('main4'));
		var myChart5 = echarts.init(document.getElementById('main5'));
		var myChart6 = echarts.init(document.getElementById('main6'));
		var myChart7 = echarts.init(document.getElementById('main7'));
		//盈亏最小百分比(3的倍数)
		var pct_min;
		//最近交易次数
		var trade_num;
		function refresh0(data, n, chart1, chart2){
			//按日期进行交易次数 盈亏统计图标
			var x1 = [];
			var x2 = [];
			var rst1 = [];
			var rst2 = [];
			for(var i=0;i<data.length;i++){
				x1[i] = data[i][1];
				x2[i] = data[i][3];
				rst1[i] = parseInt(data[i][7]*100)/100;
				if(i == 0) rst2[i] = data[i][6];
				else rst2[i] =rst2[i-1] + data[i][6];
			}
			var option1 = {
				title: {
					text: '最近' + n + '交易盈亏比例'
				},
				tooltip: {},
				legend: {
					data:['月份']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:45
					},
					minInterval: 0,
					data: x1
				},
				yAxis: {},
				series: [{
					name: '总次数',
					type: 'bar',
					data: rst1,
					barWidth: 7, 
					itemStyle: {
						normal: {
							// 颜色
							color: function(params) { 
								if(params.data > 0) return '#FF0000';
								return '#00FF00'; 
							},
							
							label: {
								show: true, //开启显示
								position: 'top', //在上方显示
								textStyle: { //数值样式
									color: 'black',
									fontSize: 10
								}
							}
						},
					},
				}]
			};
			
			var option2 = {
				tooltip: {},
				legend: {
					data:['月份']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:45
					},
					minInterval: 0,
					data: x2
				},
				yAxis: {},
				series: [{
					name: '总次数',
					type: 'line',
					data: rst2,
					itemStyle: {
						normal: {
							// 颜色
							color: function(params) { 
								if(params.data > 0) return '#FF0000';
								return '#00FF00'; 
							},
							
							label: {
								show: true, //开启显示
								position: 'top', //在上方显示
								textStyle: { //数值样式
									color: 'black',
									fontSize: 10
								}
							}
						},
					},
				}]
			};
			chart1.setOption(option1);
			chart2.setOption(option2);
		}
		
		function x_axis_gen1(data){
			//生成时间x轴
			var x_axis = [];
			var min_year = data[0][3].split("-")[0];
			var min_month = data[0][3].split("-")[1];
			var max_year = data[data.length-1][3].split("-")[0];
			var max_month = data[data.length-1][3].split("-")[1];
			
			var max_x = max_year + '-' + max_month
			var tmp_year = parseInt(min_year);
			var tmp_month = parseInt(min_month);
			
			if (tmp_month < 10) {
				tmp_x = tmp_year + '-0' + tmp_month;
			}
			else{
				tmp_x = tmp_year + '-' + tmp_month;
			}
		
			while(tmp_x <= max_x ){
				x_axis.push(tmp_x);
				if(tmp_month < 12){
					tmp_month+=1;
				}else{
					tmp_month = 1;
					tmp_year++;
				}
				if (tmp_month < 10) {
					tmp_x = tmp_year + '-0' + tmp_month;
				}
				else{
					tmp_x = tmp_year + '-' + tmp_month;
				}
			}
			return x_axis;
		}
		
		function static_data_gen1(x_axis, data){
			//按日期进行交易次数 盈亏统计
			var total_count = [];
			var win_count = [];
			var earning = [];
			var tmp_total,tmp_win,tmp_earning,st=0;
			for (var i = 0; i < x_axis.length; i++) {
				x_date = x_axis[i];
				tmp_total = tmp_win = tmp_earning = 0;
				for (; st < data.length; st++) {
					//console.log(i);
					//console.log(st);
					//console.log(data[st][2].substring(0,7));
					//console.log(x_axis[i])
					if(data[st][2].substring(0,7) == x_axis[i]){
						tmp_total++;
						tmp_earning += data[st][6];
						if(data[st][6] > 0) tmp_win++;
					}
					if(data[st][2].substring(0,7) > x_axis[i]) break;
				}
				total_count[i] = tmp_total;
				win_count[i] = tmp_win;
				earning[i] = tmp_earning;
				
			}
			return{
				total_count:total_count,
				win_count:win_count,
				earning:earning
			}
		}
		

		// 指定图表的配置项和数据
		function refresh1(data, chart1, chart2){
				//按日期进行交易次数 盈亏统计图标
				var x = x_axis_gen1(data);
				var rst = static_data_gen1(x,data);
				var option1 = {
				title: {
					text: '按月次数统计'
				},
				tooltip: {},
				legend: {
					data:['月份']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:30
					},
					minInterval: 0,
					data: x
				},
				yAxis: {},
				series: [{
					name: '总次数',
					type: 'bar',
					data: rst.total_count,
					barWidth: 7, 
					itemStyle:{ 
						normal:{ 
						color:'#0000FF',
						label: {
							show: true, //开启显示
							position: 'top', //在上方显示
							textStyle: { //数值样式
								color: 'black',
								fontSize: 10
								}
							}
						}
					}
				},{
					name: '成功次数',
					type: 'bar',
					data: rst.win_count,
					barWidth: 7, 
					itemStyle:{ 
						normal:{ 
						color:'#FF0000',
						label: {
							show: true, //开启显示
							position: 'top', //在上方显示
							textStyle: { //数值样式
								color: 'black',
								fontSize: 10
								}
							}
						}
					}
				}]
			};
			
			var option2 = {
				title: {
					text: '按月盈亏统计'
				},
				tooltip: {},
				legend: {
					data:['月份']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:30
					},
					data: x
				},
				yAxis: {},
				series: [{
					name: '总盈亏',
					type: 'bar',
					barWidth: 9, 
					itemStyle: {
						normal: {
							// 颜色
							color: function(params) { 
								if(params.data > 0) return '#FF0000';
								return '#00FF00'; 
							},
							
							label: {
								show: true, //开启显示
								position: 'top', //在上方显示
								textStyle: { //数值样式
									color: 'black',
									fontSize: 10
								}
							}
						},
					},
					data: rst.earning
				}]
			};
			
			//使用json初始化
			chart1.setOption(option1);
			chart2.setOption(option2);
		}
		
		function x_axis_gen2(data, interval){
			//interval 盈亏点数间隔默认3
			//生成盈亏点数x轴
			var x_axis = [];
			var min = 0;
			var max = 0;
			for (var i = 0; i < data.length; i++) {
				if(data[i][7] > max) max = data[i][7];
				if(data[i][7] < min) min = data[i][7];
			}
			min = parseInt(min/interval)*interval - interval;
			max = parseInt(max/interval)*interval + interval;
			pct_min = min;
			tmp = min;
			while(tmp < max){
				x_axis.push(tmp + ' ~ ' +(tmp + interval))
				tmp += interval;
			}
			return x_axis;
		}
		
		function static_data_gen2(x_axis, data, interval){
			//按盈亏点数交易次数 盈亏统计
			var count = [];
			var earning = [];
			var pt;
			
			for (var i = 0; i < x_axis.length; i++){
				count[i] = earning[i] = 0;
			}
			
			for (var i=0;i < data.length; i++) {
				//console.log(i);
				pt = parseInt((parseInt(data[i][7] - pct_min)/interval))
				count[pt]++;
				earning[pt] += data[i][6]
			}
			return{
				count:count,
				earning:earning
			}
		}
		
		function refresh2(data, chart1, chart2){
			//按日期进行交易次数 盈亏统计图标
			x = x_axis_gen2(data,2);
			rst = static_data_gen2(x,data,2);
			var option1 = {
				title: {
					text: '按比例次数统计'
				},
				tooltip: {},
				legend: {
					data:['比例']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:30
					},
					minInterval: 0,
					data: x
				},
				yAxis: {},
				series: [{
					name: '次数',
					type: 'bar',
					data: rst.count,
					barWidth: 9, 
					itemStyle:{ 
						normal:{ 
						color:'#0000FF',
						label: {
							show: true, //开启显示
							position: 'top', //在上方显示
							textStyle: { //数值样式
								color: 'black',
								fontSize: 10
								}
							}
						}
					}
				}]
			};
			
			var option2 = {
				tooltip: {},
				legend: {
					data:['比例']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:30
					},
					data: x
				},
				yAxis: {},
				series: [{
					name: '盈亏',
					type: 'bar',
					barWidth: 9, 
					itemStyle: {
						normal: {
							// 颜色
							color: function(params) { 
								if(params.data > 0) return '#FF0000';
								return '#00FF00'; 
							},
							
							label: {
								show: true, //开启显示
								position: 'top', //在上方显示
								textStyle: { //数值样式
									color: 'black',
									fontSize: 10
								}
							}
						},
					},
					data: rst.earning
				}]
			};
			
			//使用json初始化
			chart1.setOption(option1);
			chart2.setOption(option2);
		}
		
		function x_axis_gen3(data, interval){
			var x_axis = [];
			var max = 0;
			for (var i = 0; i < data.length; i++) {
				if(data[i][5] > max) max = data[i][5];
			}
			
			max = parseInt((max-1)/interval)*interval + interval;
			tmp = 0;
			while(tmp < max){
				x_axis.push(tmp + ' ~ ' +(tmp + interval))
				tmp += interval;
			}
			return x_axis;
		}
		
		function static_data_gen3(x_axis, data, interval){
			//按持股天数统计次数
			var count = [];
			var win = [];
			var earning = [];
			var pt;
			
			for (var i = 0; i < x_axis.length; i++){
				count[i] = earning[i] = win[i] = 0;
			}
			
			for (var i=0;i < data.length; i++) {
				//console.log(i);
				pt = parseInt((parseInt(data[i][5])-1)/interval)
				count[pt]++;
				if(data[i][6]>0) win[pt]++;
				earning[pt] += data[i][6];
			}
			return{
				total_count:count,
				win_count:win,
				earning:earning
			}
		}
		
		function refresh3(data, chart1, chart2){
			//按持股时长进行交易次数 成功统计图标
			var x = x_axis_gen3(data,10);
			var rst = static_data_gen3(x,data,10);
			var option1 = {
				title: {
					text: '持股周期统计'
				},
				tooltip: {},
				legend: {
					data:['时长']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:30
					},
					minInterval: 0,
					data: x
				},
				yAxis: {},
				series: [{
					name: '总次数',
					type: 'bar',
					data: rst.total_count,
					barWidth: 7, 
					itemStyle:{ 
						normal:{ 
						color:'#0000FF',
						label: {
							show: true, //开启显示
							position: 'top', //在上方显示
							textStyle: { //数值样式
								color: 'black',
								fontSize: 10
								}
							}
						}
					}
				},{
					name: '成功次数',
					type: 'bar',
					data: rst.win_count,
					barWidth: 7, 
					itemStyle:{ 
						normal:{ 
						color:'#FF0000',
						label: {
							show: true, //开启显示
							position: 'top', //在上方显示
							textStyle: { //数值样式
								color: 'black',
								fontSize: 10
								}
							}
						}
					}
				}]
			};
			
			var option2 = {
				tooltip: {},
				legend: {
					data:['时长']
				},
				xAxis: {
					axisLabel: {
						interval:0,
						rotate:30
					},
					data: x
				},
				yAxis: {},
				series: [{
					name: '总盈亏',
					type: 'bar',
					barWidth: 9, 
					itemStyle: {
						normal: {
							// 颜色
							color: function(params) { 
								if(params.data > 0) return '#FF0000';
								return '#00FF00'; 
							},
							
							label: {
								show: true, //开启显示
								position: 'top', //在上方显示
								textStyle: { //数值样式
									color: 'black',
									fontSize: 10
								}
							}
						},
					},
					data: rst.earning
				}]
			};
			
			//使用json初始化
			chart1.setOption(option1);
			chart2.setOption(option2);
		}
		
		
		function data_set(){
			//获取日期，用于页面内刷新，目前未使用
			var myDate = new Date();
			ed_date = $("#ed_date").val();
			if(ed_date == ""){
				ed_date = myDate.getFullYear() + '-' + (myDate.getMonth()+1);
				$("#ed_date").val(myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate());
			}
			st_date = $("#st_date").val();
			if(st_date == ""){
				st_date = myDate.getFullYear() + '-' + (myDate.getMonth()+1);
				$("#st_date").val((myDate.getFullYear()-1) + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate());
			}
		}
		
		var stat_data;
		var json_url = "/trade_data_json/";
		data_set();
		$.getJSON(json_url, function(data){
			stat_data0 = data;
		});
		
		var url = self.location.href;
		
		json_url += "?" + "ed_date=" + $("#ed_date").val() + "&st_date=" + $("#st_date").val();
		
		$.getJSON(json_url, function(data){
			stat_data1 = data;
		});
		
		$(document).ready( function () {
			num1 = parseInt($("#n").val());
			// 基于准备好的dom，初始化echarts实例
			refresh0(stat_data0.slice(stat_data0.length-num1, stat_data0.length), num1, myChart0,myChart1);
			refresh1(stat_data1, myChart2, myChart3);
			refresh2(stat_data1, myChart4, myChart5);
			refresh3(stat_data1, myChart6, myChart7);
			data_set();
		});
		
	</script>
</body>
</html>
